:root {
    --background: #FCFBF8;
    --text-color: #242321;
    --primary: #008000;
    --shadow: #e5e5e5;
    --secondary: white;
}


[data-theme="dark"] {
    --background: #121212;
    --text-color: #ffffff;
    --primary: #5ca55c;
    --shadow: #202020;
    --secondary: #000000;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    transition-property: background-color, border-color, box-shadow;
    transition-duration: 1.2s;
    transition-timing-function: ease-in-out;
}

body {
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
    overflow: hidden;
}

.container {
    padding: 10px 10%;
    position: relative;
    width: 100%;
}

button {
    padding: 10px;
    font-size: 1em;
    background-color: var(--primary);
    color: var(--secondary);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

main {
    scroll-snap-type: y proximity;
    overflow-y: auto;
    height: calc(100vh - 60px);
    margin-top: 60px;
}

main>section {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
}

main>section>h2 {
    font-size: 1.8em;
    text-align: center;
    border-bottom: solid 2px var(--primary);
    margin-bottom: 10px;
    padding: 10px;
}

main>section .content {
    margin: auto 0px;
}

h1,
h2 {
    text-transform: uppercase;
}


.lead {
    color: var(--primary);
}

.smaller {
    font-size: 1.8em;
    text-transform: capitalize;
    font-style: italic;
}

i {
    line-height: unset;
}



/*
-------------------HEADER-----------------------------------
*/

header.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    background: var(--background);
    z-index: 2;
    box-shadow: 1px 1px 4px var(--shadow);
    height: 60px;
}

header h1 {
    font-size: 1.5em;
    color: var(--text-color);
}

header h1>a {
    color: var(--text-color);
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
    padding: 5px;
}

nav ul li a:hover {
    border-bottom: solid 3px var(--primary);
}

.resume {
    border-radius: 5px;
    background-color: var(--primary);
    color: var(--secondary);
    padding: 5px 10px;
    text-transform: capitalize;
}

.resume i {
    font-size: 0.6em;
    vertical-align: middle;
}

#themeSwitcher {
    padding: 5px;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 100%;
    text-align: center;
    background: var(--background);
    position: absolute;
    bottom: 40px;
    right: 3%;
}

#themeSwitcher i {
    font-size: 2em;
    color: var(--text-color);
}

/*
-------------------MOBILE MENU-----------------------------------
*/

.sideMenu {
    position: fixed;
    height: 100vh;
    background-color: var(--background);
    right: 0px;
    top: 0px;
    width: 0%;
    transition: width .5s ease-out, background-color 1.2s ease-in-out;
    padding-top: 60px;
}

.sideMenu nav {
    display: none;
}

.toggleBtn {
    background-color: transparent;
    border: none;
    display: none;
}

.hamburger {
    width: 40px;
    height: 25px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.hamburger span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: var(--primary);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.hamburger span:nth-child(1) {
    top: 0px;
}

.hamburger span:nth-child(2),
.hamburger span:nth-child(3) {
    top: 10px;
}

.hamburger span:nth-child(4) {
    top: 20px;
}

.hamburger.open span:nth-child(1) {
    top: 10px;
    width: 0%;
    left: 50%;
}

.hamburger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.hamburger.open span:nth-child(4) {
    top: 10px;
    width: 0%;
    left: 50%;
}

/*
-------------------INTRO-----------------------------------
*/

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    text-transform: uppercase;
    min-height: 100vh;
}

.hero p {
    font-size: 1em;
    text-align: center;
}

.hero h2 {
    font-size: 2em;
    border: none;
    text-align: center;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero .socials {
    padding: 5px;
    background-color: var(--shadow);
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 35%;
    left: -5px;
    z-index: 3;
}

.socials a {
    padding: 5px;
}

.socials i {
    color: var(--text-color);
    font-size: 0.6em;
    vertical-align: middle;
}


/*
-------------------ABOUT-----------------------------------
*/

.about .content {
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.about .content div {
    padding: 10px;
    font-size: 1.6em;
    flex-basis: 50%;
}

b {
    color: var(--primary);
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.skills i {
    color: var(--primary);
    margin: 10px;
    line-height: unset;
}

/*
-------------------TIMELINE-----------------------------------
*/

.experience {
    position: relative;
    background: var(--primary);
}

.experience h2 {
    display: flex;
    justify-content: center;
    color: var(--secondary);
    border-color: var(--secondary);
}

.timeline .center-line {
    position: absolute;
    height: calc(100% - 80px);
    width: 4px;
    background: var(--secondary);
    left: 50%;
    transform: translateX(-50%);
}

.timeline .card {
    display: flex;
}

.timeline .left {
    justify-content: flex-start;
}

.timeline .right {
    justify-content: flex-end;
}

.timeline .card section {
    background: var(--background);
    border-radius: 5px;
    width: calc(50% - 40px);
    padding: 20px;
    position: relative;
    min-height: unset;
}

.timeline .card section::before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: var(--background);
    top: 28px;
    z-index: 0;
    transform: rotate(45deg);
}

.left section::before {
    right: -7px;
}

.right section::before {
    left: -7px;
}

.card section i {
    position: absolute;
    background: var(--background);
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: var(--primary);
    font-size: 1.2em;
}

.card section ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.card section li {
    padding: 5px;
    background-color: var(--secondary);
    border-radius: 10px;
    margin-right: 10px;
    color: var(--primary);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8em;
}

.left section i {
    top: 15px;
    right: -60px;
}

.right section i {
    top: 15px;
    left: -60px;
}

.card section .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card section p {
    margin: 10px 0 17px 0;
}

/*
-------------------CONTACT-----------------------------------
*/

.contact form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.contact form label {
    padding: 10px 0px;
    color: var(--primary);
    text-transform: capitalize;
    font-weight: bold;
}

.contact form button {
    margin-top: 10px;
}

form input,
form textarea {
    background-color: var(--background);
    padding: 10px;
    border: solid 2px var(--primary);
    border-radius: 5px;
    color: var(--text-color);
}

/*------------------ANIMATIONS------------------*/

.flashy {
    position: relative;
    z-index: 0;
    -webkit-user-select: none;
    user-select: none;
    touch-action: manipulation;
}

.flashy:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 5px;
}

@keyframes glowing-button {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.flashy:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--primary);
    left: 0;
    top: 0;
    border-radius: 5px;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
    opacity: 0.8;
    border-radius: 10px;
    border: solid 2px var(--background);
}

@media (max-width: 820px) {

    .hero {
        flex-direction: column;
        padding-top: 50px;
    }

    .hero img {
        height: 200px;
    }

    .sideMenu.open {
        width: 50%;
        padding: 60px 2% 10% 2%;
        border-left: solid 2px var(--primary);
    }

    .sideMenu nav ul {
        flex-direction: column;
    }

    header nav {
        display: none;
    }

    .sideMenu nav {
        display: flex;
    }

    .toggleBtn {
        display: block;
    }

    .timeline .center-line {
        left: 90px;
    }

    .timeline .card {
        margin: 30px 0 3px 60px;
    }

    .timeline .card section {
        width: 100%;
    }

    .left section::before {
        left: -7px;
    }

    .left section i {
        left: -60px;
    }

    .about .content {
        flex-direction: column;
    }
}

@media(max-width: 440px) {

    .timeline .center-line,
    .card section::before,
    .card section i {
        display: none;
    }

    .timeline .card {
        margin: 10px 0;
    }

    .hero .socials {
        left: 30%;
        top: unset;
        bottom: 0px;
        flex-direction: row;
        padding: 5px 10px 10px;
        height: 40px;
    }
}